<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>影片設定</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>useH264</string>
		<key>Title</key>
		<string>尋找 Flash 的替代影片         </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>usePlaylists</string>
		<key>Title</key>
		<string>使用播放列表                       </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>showPoster</string>
		<key>Title</key>
		<string>在暫存區中顯示預覽影像       </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>H264autoload</string>
		<key>Title</key>
		<string>自動載入影片播放器             </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>H264whitelist</string>
		<key>Title</key>
		<string>在這些網站</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>autoplay</string>
		<key>Key</key>
		<string>H264behavior</string>
		<key>Title</key>
		<string>初始動作</string>
		<key>Titles</key>
		<array>
			<string>不緩衝</string>
			<string>開始緩衝</string>
			<string>開始緩衝並且自動播放</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>none</string>
			<string>buffer</string>
			<string>autoplay</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>2</real>
		<key>Key</key>
		<string>QTbehavior</string>
		<key>Title</key>
		<string>非原生解碼器</string>
		<key>Titles</key>
		<array>
			<string>不使用</string>
			<string>作為最後的選擇</string>
			<string>自由使用</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<real>1</real>
			<real>2</real>
			<real>3</real>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>3</real>
		<key>Key</key>
		<string>maxresolution</string>
		<key>Title</key>
		<string>最高解析度</string>
		<key>Titles</key>
		<array>
			<string>480p</string>
			<string>720p</string>
			<string>1080p</string>
			<string>4K</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<real>1</real>
			<real>2</real>
			<real>3</real>
			<real>4</real>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.5</real>
		<key>Key</key>
		<string>volume</string>
		<key>MaximumValue</key>
		<real>1</real>
		<key>StepValue</key>
		<real>0.01</real>
		<key>Title</key>
		<string>音量</string>
		<key>Type</key>
		<string>Slider</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>白名單</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>uselocWhitelist</string>
		<key>Title</key>
		<string>允許 Flash，如果它的網址    </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>www.example.com www.example2.com</string>
		<key>Key</key>
		<string>locwhitelist</string>
		<key>Title</key>
		<string>符合</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>locblacklist</string>
		<key>Title</key>
		<string>不符合</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>usesrcWhitelist</string>
		<key>Title</key>
		<string>允許 Flash，如果它的來源    </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>srcwhitelist</string>
		<key>Title</key>
		<string>符合</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>srcblacklist</string>
		<key>Title</key>
		<string>不符合</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>loadInvisible</string>
		<key>Title</key>
		<string>允許 Flash，如果                 </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>8x8</string>
		<key>Key</key>
		<string>maxinvdim</string>
		<key>Title</key>
		<string>尺寸不大於</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>特色選單項目</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>useWLcontext</string>
		<key>Title</key>
		<string>加入白名單                          </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>useLAcontext</string>
		<key>Title</key>
		<string>載入所有的 Flash                 </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>useLIcontext</string>
		<key>Title</key>
		<string>載入不可見的 Flash              </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>useDVcontext</string>
		<key>Title</key>
		<string>下載影片                             </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>useVScontext</string>
		<key>Title</key>
		<string>於網站上檢視                       </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>useQTcontext</string>
		<key>Title</key>
		<string>於 QuickTime Player 中檢視</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>textonly</string>
		<key>Key</key>
		<string>sifrReplacement</string>
		<key>Title</key>
		<string>sIFR 文字</string>
		<key>Titles</key>
		<array>
			<string>只顯示文字</string>
			<string>當作一般 Flash</string>
			<string>自動載入</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>textonly</string>
			<string>normal</string>
			<string>autoload</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.5</real>
		<key>Key</key>
		<string>opacity</string>
		<key>MaximumValue</key>
		<real>1</real>
		<key>StepValue</key>
		<real>0.01</real>
		<key>Title</key>
		<string>透明度</string>
		<key>Type</key>
		<string>Slider</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>debug</string>
		<key>Title</key>
		<string>手動阻擋內容                       </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
