<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>白名單</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>locationsWhitelist</string>
		<key>Title</key>
		<string>網址</string>
		<key>Titles</key>
		<array/>
		<key>Type</key>
		<string>TextField</string>
		<key>Values</key>
		<array/>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>sourcesWhitelist</string>
		<key>Title</key>
		<string>來源</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>invertWhitelists</string>
		<key>Title</key>
		<string>反轉清單                       </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>HTML5 設定</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>replacePlugins</string>
		<key>Title</key>
		<string>尋找 Flash 的替代影片   </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>useSourceSelector</string>
		<key>Title</key>
		<string>顯示可用的來源清單       </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>usePlaylists</string>
		<key>Title</key>
		<string>使用播放列表                 </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>mediaAutoload</string>
		<key>Title</key>
		<string>自動載入影片播放器       </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>mediaWhitelist</string>
		<key>Title</key>
		<string>在這些網站</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>autoplay</string>
		<key>Key</key>
		<string>initialBehavior</string>
		<key>Title</key>
		<string>初始動作</string>
		<key>Titles</key>
		<array>
			<string>不緩衝</string>
			<string>開始緩衝</string>
			<string>開始緩衝並且自動播放</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>none</string>
			<string>buffer</string>
			<string>autoplay</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1080</real>
		<key>Key</key>
		<string>maxResolution</string>
		<key>Title</key>
		<string>偏好的來源</string>
		<key>Titles</key>
		<array>
			<string>Flash</string>
			<string>360p</string>
			<string>480p</string>
			<string>720p</string>
			<string>1080p</string>
			<string>4K</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>plugin</string>
			<real>360</real>
			<real>480</real>
			<real>720</real>
			<real>1080</real>
			<string>infinity</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>2</real>
		<key>Key</key>
		<string>codecsPolicy</string>
		<key>Title</key>
		<string>非原生解碼器</string>
		<key>Titles</key>
		<array>
			<string>不使用</string>
			<string>作為最後的選擇</string>
			<string>自由使用</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<real>1</real>
			<real>2</real>
			<real>3</real>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.5</real>
		<key>Key</key>
		<string>volume</string>
		<key>MaximumValue</key>
		<real>1</real>
		<key>StepValue</key>
		<real>0.01</real>
		<key>Title</key>
		<string>音量</string>
		<key>Type</key>
		<string>Slider</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>特色選單項目</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>disableEnableContext</string>
		<key>Title</key>
		<string>停用/啓用 ClickToFlash       </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>addToWhitelistContext</string>
		<key>Title</key>
		<string>加入白名單                          </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>loadAllContext</string>
		<key>Title</key>
		<string>載入所有的 Flash                 </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>loadInvisibleContext</string>
		<key>Title</key>
		<string>載入不可見的 Flash              </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>downloadContext</string>
		<key>Title</key>
		<string>下載影片                             </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>viewOnSiteContext</string>
		<key>Title</key>
		<string>於網站上檢視                       </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>viewInQTPContext</string>
		<key>Title</key>
		<string>於 QuickTime Player 中檢視</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>loadInvisible</string>
		<key>Title</key>
		<string>允許不可見的外掛模組          </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>debug</string>
		<key>Title</key>
		<string>手動阻擋外掛模組                </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>textonly</string>
		<key>Key</key>
		<string>sIFRPolicy</string>
		<key>Title</key>
		<string>sIFR 文字</string>
		<key>Titles</key>
		<array>
			<string>只顯示文字</string>
			<string>當作一般 Flash</string>
			<string>自動載入</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>textonly</string>
			<string>normal</string>
			<string>autoload</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.5</real>
		<key>Key</key>
		<string>opacity</string>
		<key>MaximumValue</key>
		<real>1</real>
		<key>Secure</key>
		<false/>
		<key>StepValue</key>
		<real>0.01</real>
		<key>Title</key>
		<string>透明度</string>
		<key>Type</key>
		<string>Slider</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>8</real>
		<key>Key</key>
		<string>maxInvisibleSize</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>showPoster</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>showTooltip</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>showMediaTooltip</string>
	</dict>
</array>
</plist>