<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Whitelists</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>pluginsWhitelist</string>
		<key>Title</key>
		<string>Plugins</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>invertPluginsWhitelist</string>
		<key>Title</key>
		<string>Negate list                   </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>locationsWhitelist</string>
		<key>Title</key>
		<string>Locations</string>
		<key>Titles</key>
		<array/>
		<key>Type</key>
		<string>TextField</string>
		<key>Values</key>
		<array/>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>sourcesWhitelist</string>
		<key>Title</key>
		<string>Sources</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>invertWhitelists</string>
		<key>Title</key>
		<string>Negate lists                  </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>HTML5 Settings</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>replacePlugins</string>
		<key>Title</key>
		<string>Look for media replacements to plugins       </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>useSourceSelector</string>
		<key>Title</key>
		<string>Show list of available sources                        </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>usePlaylists</string>
		<key>Title</key>
		<string>Use playlists                                                   </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>mediaAutoload</string>
		<key>Title</key>
		<string>Load the media player automatically             </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>mediaWhitelist</string>
		<key>Title</key>
		<string>on these sites</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>autoplay</string>
		<key>Key</key>
		<string>initialBehavior</string>
		<key>Title</key>
		<string>Initial behavior</string>
		<key>Titles</key>
		<array>
			<string>Do not buffer</string>
			<string>Start buffering</string>
			<string>Start buffering and play automatically</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>none</string>
			<string>buffer</string>
			<string>autoplay</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1080</real>
		<key>Key</key>
		<string>maxResolution</string>
		<key>Title</key>
		<string>Preferred source</string>
		<key>Titles</key>
		<array>
			<string>Plugin</string>
			<string>360p</string>
			<string>480p</string>
			<string>720p</string>
			<string>1080p</string>
			<string>4K</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>plugin</string>
			<real>360</real>
			<real>480</real>
			<real>720</real>
			<real>1080</real>
			<string>infinity</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>2</real>
		<key>Key</key>
		<string>codecsPolicy</string>
		<key>Title</key>
		<string>Nonnative codecs</string>
		<key>Titles</key>
		<array>
			<string>Do not use</string>
			<string>Use only as a last resort</string>
			<string>Use freely</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<real>1</real>
			<real>2</real>
			<real>3</real>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.5</real>
		<key>Key</key>
		<string>volume</string>
		<key>MaximumValue</key>
		<real>1</real>
		<key>StepValue</key>
		<real>0.01</real>
		<key>Title</key>
		<string>Sound volume</string>
		<key>Type</key>
		<string>Slider</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Contextual Menu Items</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>disableEnableContext</string>
		<key>Title</key>
		<string>Disable/Enable ClickToPlugin     </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>addToWhitelistContext</string>
		<key>Title</key>
		<string>Add to Whitelist                         </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>loadAllContext</string>
		<key>Title</key>
		<string>Load All Plugins                         </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>loadInvisibleContext</string>
		<key>Title</key>
		<string>Load Invisible Plugins                 </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>downloadContext</string>
		<key>Title</key>
		<string>Download Video                         </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>viewOnSiteContext</string>
		<key>Title</key>
		<string>View on Site                               </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>viewInQTPContext</string>
		<key>Title</key>
		<string>View in QuickTime Player           </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>loadInvisible</string>
		<key>Title</key>
		<string>Allow invisible plugins               </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>debug</string>
		<key>Title</key>
		<string>Block plugins manually              </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>textonly</string>
		<key>Key</key>
		<string>sIFRPolicy</string>
		<key>Title</key>
		<string>sIFR text</string>
		<key>Titles</key>
		<array>
			<string>Show text only</string>
			<string>Treat as regular Flash</string>
			<string>Load automatically</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>textonly</string>
			<string>normal</string>
			<string>autoload</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.5</real>
		<key>Key</key>
		<string>opacity</string>
		<key>MaximumValue</key>
		<real>1</real>
		<key>Secure</key>
		<false/>
		<key>StepValue</key>
		<real>0.01</real>
		<key>Title</key>
		<string>Opacity</string>
		<key>Type</key>
		<string>Slider</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>8</real>
		<key>Key</key>
		<string>maxInvisibleSize</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>showPoster</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>showTooltip</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>showMediaTooltip</string>
	</dict>
</array>
</plist>
