<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Предпочтения касательно Видео</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>useH264</string>
		<key>Title</key>
		<string>Показать альтернативу проигрывателю Flash     </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>usePlaylists</string>
		<key>Title</key>
		<string>Воспользоваться playlist сайта                             </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>showPoster</string>
		<key>Title</key>
		<string>Показать картинку на заплашке                          </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>H264autoload</string>
		<key>Title</key>
		<string>Показать альтернативный проигрыватель сразу</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>H264whitelist</string>
		<key>Title</key>
		<string>на сайтах</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>autoplay</string>
		<key>Key</key>
		<string>H264behavior</string>
		<key>Title</key>
		<string>При загрузке, сразу</string>
		<key>Titles</key>
		<array>
			<string>Видео не загружать</string>
			<string>Начинать загружать</string>
			<string>Загрузить, и проиграть</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>none</string>
			<string>buffer</string>
			<string>autoplay</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>2</real>
		<key>Key</key>
		<string>QTbehavior</string>
		<key>Title</key>
		<string>Не-свои форматы</string>
		<key>Titles</key>
		<array>
			<string>Не использовать</string>
			<string>За неимением выбора</string>
			<string>Свободно пользоваться</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<real>1</real>
			<real>2</real>
			<real>3</real>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>3</real>
		<key>Key</key>
		<string>maxresolution</string>
		<key>Title</key>
		<string>Макс. разрешение</string>
		<key>Titles</key>
		<array>
			<string>480p</string>
			<string>720p</string>
			<string>1080p</string>
			<string>4K</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<real>1</real>
			<real>2</real>
			<real>3</real>
			<real>4</real>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.5</real>
		<key>Key</key>
		<string>volume</string>
		<key>MaximumValue</key>
		<real>1</real>
		<key>StepValue</key>
		<real>0.01</real>
		<key>Title</key>
		<string>Уровень звука</string>
		<key>Type</key>
		<string>Slider</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Белые Списки</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>uselocWhitelist</string>
		<key>Title</key>
		<string>Встроенный Flash на страницах с адресом вида</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>www.example.com www.example2.com</string>
		<key>Key</key>
		<string>locwhitelist</string>
		<key>Title</key>
		<string>показать</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>locblacklist</string>
		<key>Title</key>
		<string>запретить</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>usesrcWhitelist</string>
		<key>Title</key>
		<string>Flash с источников по адресам вида                    </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>srcwhitelist</string>
		<key>Title</key>
		<string>показать</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>srcblacklist</string>
		<key>Title</key>
		<string>запретить</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>loadInvisible</string>
		<key>Title</key>
		<string>Подгружать вставки размером                             </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>8x8</string>
		<key>Key</key>
		<string>maxinvdim</string>
		<key>Title</key>
		<string>не более</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Пункты контекстного Меню</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>useWLcontext</string>
		<key>Title</key>
		<string>Поместить адрес в Белый Список        </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>useLAcontext</string>
		<key>Title</key>
		<string>Подгрузить все Дополнения                </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>useLIcontext</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>useDVcontext</string>
		<key>Title</key>
		<string>Скачать Видео                                       </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>useVScontext</string>
		<key>Title</key>
		<string>Показать на сайте оригинала              </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>useQTcontext</string>
		<key>Title</key>
		<string>Смотреть в проигрывателе QuickTime</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>textonly</string>
		<key>Key</key>
		<string>sifrReplacement</string>
		<key>Title</key>
		<string>Заголовки sIFR</string>
		<key>Titles</key>
		<array>
			<string>Только текст</string>
			<string>Обходиться как с Flash</string>
			<string>Автоматически показать</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>textonly</string>
			<string>normal</string>
			<string>autoload</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.5</real>
		<key>Key</key>
		<string>opacity</string>
		<key>MaximumValue</key>
		<real>1</real>
		<key>StepValue</key>
		<real>0.01</real>
		<key>Title</key>
		<string>Видимость</string>
		<key>Type</key>
		<string>Slider</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>debug</string>
		<key>Title</key>
		<string>Подтверждать действия вручную        </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
