<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Listes blanches</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>locationsWhitelist</string>
		<key>Title</key>
		<string>Sites</string>
		<key>Titles</key>
		<array/>
		<key>Type</key>
		<string>TextField</string>
		<key>Values</key>
		<array/>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>sourcesWhitelist</string>
		<key>Title</key>
		<string>Sources</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>invertWhitelists</string>
		<key>Title</key>
		<string>Utiliser comme listes noires</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Options HTML5</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>replacePlugins</string>
		<key>Title</key>
		<string>Rechercher des vidéos pour remplacer Flash   </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>useSourceSelector</string>
		<key>Title</key>
		<string>Afficher la liste des formats disponibles           </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>showPoster</string>
		<key>Title</key>
		<string>Afficher un aperçu de la vidéo                          </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>usePlaylists</string>
		<key>Title</key>
		<string>Utiliser les listes de lecture                               </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>mediaAutoload</string>
		<key>Title</key>
		<string>Effectuer les remplacements automatiquement</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>mediaWhitelist</string>
		<key>Title</key>
		<string>sur ces sites</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>autoplay</string>
		<key>Key</key>
		<string>initialBehavior</string>
		<key>Title</key>
		<string>Action initiale</string>
		<key>Titles</key>
		<array>
			<string>Aucune</string>
			<string>Commencer le téléchargement</string>
			<string>Commencer la lecture automatiquement</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>none</string>
			<string>buffer</string>
			<string>autoplay</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1080</real>
		<key>Key</key>
		<string>maxResolution</string>
		<key>Title</key>
		<string>Format préféré</string>
		<key>Titles</key>
		<array>
			<string>Flash</string>
			<string>360p</string>
			<string>480p</string>
			<string>720p</string>
			<string>1080p</string>
			<string>4K</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>plugin</string>
			<real>360</real>
			<real>480</real>
			<real>720</real>
			<real>1080</real>
			<string>infinity</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>2</real>
		<key>Key</key>
		<string>codecPolicy</string>
		<key>Title</key>
		<string>Codecs non natifs</string>
		<key>Titles</key>
		<array>
			<string>Ne pas utiliser</string>
			<string>N'utiliser qu'en dernier recours</string>
			<string>Utiliser sans restrictions</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<real>1</real>
			<real>2</real>
			<real>3</real>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.5</real>
		<key>Key</key>
		<string>volume</string>
		<key>MaximumValue</key>
		<real>1</real>
		<key>StepValue</key>
		<real>0.01</real>
		<key>Title</key>
		<string>Volume sonore</string>
		<key>Type</key>
		<string>Slider</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Menu contextuel</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>disableEnableContext</string>
		<key>Title</key>
		<string>Désactiver/Activer ClickToFlash          </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>addToWhitelistContext</string>
		<key>Title</key>
		<string>Ajouter à la liste blanche                    </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>loadAllContext</string>
		<key>Title</key>
		<string>Débloquer tout le Flash                       </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>loadInvisibleContext</string>
		<key>Title</key>
		<string>Débloquer le Flash invisible                </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>downloadContext</string>
		<key>Title</key>
		<string>Télécharger la vidéo                            </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>viewOnSiteContext</string>
		<key>Title</key>
		<string>Voir la vidéo sur le site                       </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>viewInQTPContext</string>
		<key>Title</key>
		<string>Ouvrir dans QuickTime Player             </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>loadInvisible</string>
		<key>Title</key>
		<string>Autoriser le Flash invisibles                </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>debug</string>
		<key>Title</key>
		<string>Bloquer Flash manuellement               </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>textonly</string>
		<key>Key</key>
		<string>sIFRPolicy</string>
		<key>Title</key>
		<string>Texte sIFR</string>
		<key>Titles</key>
		<array>
			<string>N'afficher que le texte</string>
			<string>Considérer comme Flash</string>
			<string>Autoriser</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>textonly</string>
			<string>normal</string>
			<string>autoload</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.5</real>
		<key>Key</key>
		<string>opacity</string>
		<key>MaximumValue</key>
		<real>1</real>
		<key>Secure</key>
		<false/>
		<key>StepValue</key>
		<real>0.01</real>
		<key>Title</key>
		<string>Opacité</string>
		<key>Type</key>
		<string>Slider</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>8</real>
		<key>Key</key>
		<string>maxInvisibleSize</string>
	</dict>
</array>
</plist>
