<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>currentTab</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<array/>
		<key>Key</key>
		<string>allowedPlugins</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<array/>
		<key>Key</key>
		<string>locationsWhitelist</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<array/>
		<key>Key</key>
		<string>sourcesWhitelist</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<array/>
		<key>Key</key>
		<string>locationsBlacklist</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<array/>
		<key>Key</key>
		<string>sourcesBlacklist</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>invertWhitelists</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>invertBlacklists</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<array>
			<string>killers/YouTube.js</string>
			<string>killers/Dailymotion.js</string>
			<string>killers/Facebook.js</string>
			<string>killers/Blip.js</string>
			<string>killers/Metacafe.js</string>
			<string>killers/TED.js</string>
			<string>killers/MTVNetworks.js</string>
			<string>killers/BBC.js</string>
			<string>killers/Brightcove.js</string>
			<string>killers/NYTimes.js</string>
			<string>killers/Flash.js</string>
			<string>killers/Silverlight.js</string>
			<string>killers/Generic.js</string>
		</array>
		<key>Key</key>
		<string>killers</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>loadIfNotKilled</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>useFallbackMedia</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>showMediaSources</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>showPluginSource</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>showSiteSource</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>showQTPSource</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>showAirPlaySource</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>showPoster</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>hideRewindButton</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>mediaAutoload</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<array/>
		<key>Key</key>
		<string>mediaWhitelist</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>autoplay</string>
		<key>Key</key>
		<string>initialBehavior</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>instantAutoplay</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1080</real>
		<key>Key</key>
		<string>defaultResolution</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>html5</string>
		<key>Key</key>
		<string>defaultPlayer</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>2</real>
		<key>Key</key>
		<string>codecsPolicy</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>volume</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>settingsContext</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>disableEnableContext</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>addToWhitelistContext</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>addToBlacklistContext</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>loadAllContext</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>loadInvisibleContext</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>downloadContext</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>viewOnSiteContext</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>openInQTPContext</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>airplayContext</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<dict>
			<key>prefPane</key>
			<dict>
				<key>altKey</key>
				<true/>
				<key>ctrlKey</key>
				<false/>
				<key>keyIdentifier</key>
				<string>U+002C</string>
				<key>metaKey</key>
				<false/>
				<key>shiftKey</key>
				<false/>
				<key>type</key>
				<string>keydown</string>
			</dict>
			<key>addToWhitelist</key>
			<false/>
			<key>loadAll</key>
			<false/>
			<key>hideAll</key>
			<false/>
			<key>playPause</key>
			<dict>
				<key>altKey</key>
				<false/>
				<key>ctrlKey</key>
				<false/>
				<key>keyIdentifier</key>
				<string>U+0020</string>
				<key>metaKey</key>
				<false/>
				<key>shiftKey</key>
				<false/>
				<key>type</key>
				<string>keydown</string>
			</dict>
			<key>enterFullscreen</key>
			<dict>
				<key>altKey</key>
				<false/>
				<key>ctrlKey</key>
				<false/>
				<key>keyIdentifier</key>
				<string>U+0046</string>
				<key>metaKey</key>
				<false/>
				<key>shiftKey</key>
				<false/>
				<key>type</key>
				<string>keydown</string>
			</dict>
			<key>volumeUp</key>
			<dict>
				<key>altKey</key>
				<false/>
				<key>ctrlKey</key>
				<false/>
				<key>keyIdentifier</key>
				<string>Up</string>
				<key>metaKey</key>
				<false/>
				<key>shiftKey</key>
				<false/>
				<key>type</key>
				<string>keydown</string>
			</dict>
			<key>volumeDown</key>
			<dict>
				<key>altKey</key>
				<false/>
				<key>ctrlKey</key>
				<false/>
				<key>keyIdentifier</key>
				<string>Down</string>
				<key>metaKey</key>
				<false/>
				<key>shiftKey</key>
				<false/>
				<key>type</key>
				<string>keydown</string>
			</dict>
			<key>seekForward</key>
			<false/>
			<key>seekBackward</key>
			<false/>
			<key>prevTrack</key>
			<dict>
				<key>altKey</key>
				<false/>
				<key>ctrlKey</key>
				<false/>
				<key>keyIdentifier</key>
				<string>Left</string>
				<key>metaKey</key>
				<false/>
				<key>shiftKey</key>
				<false/>
				<key>type</key>
				<string>keydown</string>
			</dict>
			<key>nextTrack</key>
			<dict>
				<key>altKey</key>
				<false/>
				<key>ctrlKey</key>
				<false/>
				<key>keyIdentifier</key>
				<string>Right</string>
				<key>metaKey</key>
				<false/>
				<key>shiftKey</key>
				<false/>
				<key>type</key>
				<string>keydown</string>
			</dict>
			<key>trackSelector</key>
			<dict>
				<key>altKey</key>
				<false/>
				<key>ctrlKey</key>
				<false/>
				<key>keyIdentifier</key>
				<string>Enter</string>
				<key>metaKey</key>
				<false/>
				<key>shiftKey</key>
				<false/>
				<key>type</key>
				<string>keydown</string>
			</dict>
			<key>toggleLooping</key>
			<false/>
		</dict>
		<key>Key</key>
		<string>keys</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<dict>
			<key>hidePlugin</key>
			<dict>
				<key>altKey</key>
				<true/>
				<key>button</key>
				<real>0.0</real>
				<key>ctrlKey</key>
				<false/>
				<key>metaKey</key>
				<false/>
				<key>shiftKey</key>
				<false/>
				<key>type</key>
				<string>click</string>
			</dict>
			<key>playPause</key>
			<false/>
			<key>enterFullscreen</key>
			<false/>
			<key>volumeUp</key>
			<false/>
			<key>volumeDown</key>
			<false/>
			<key>seekForward</key>
			<false/>
			<key>seekBackward</key>
			<false/>
			<key>prevTrack</key>
			<false/>
			<key>nextTrack</key>
			<false/>
			<key>trackSelector</key>
			<false/>
			<key>toggleLooping</key>
			<dict>
				<key>altKey</key>
				<false/>
				<key>button</key>
				<real>0.0</real>
				<key>ctrlKey</key>
				<false/>
				<key>metaKey</key>
				<false/>
				<key>shiftKey</key>
				<false/>
				<key>type</key>
				<string>dblclick</string>
			</dict>
		</dict>
		<key>Key</key>
		<string>gestures</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>10</real>
		<key>Key</key>
		<string>seekTime</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>allowInvisible</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>debug</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>textonly</string>
		<key>Key</key>
		<string>sIFRPolicy</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.5</real>
		<key>Key</key>
		<string>opacity</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>8</real>
		<key>Key</key>
		<string>maxInvisibleSize</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>showTooltip</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>useDownloadManager</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>apple-tv.local</string>
		<key>Key</key>
		<string>airplayHostname</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>airplayPassword</string>
		<key>Secure</key>
		<true/>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>settingsSwitch</string>
		<key>Title</key>
		<string>Click this checkbox to access the settings</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
