/* ClickToPlugin CSS stylesheet */

/******************************
CSS Reset (specificity 0,0,1,0)
******************************/

/*
Not reset here:
-webkit-flex-* (flex boxes)
-webkit-transition-property
background
color
display
font-family
font-size
height
opacity
position
width
*/

.CTPplaceholder,
.CTPplaceholder *,
.CTPmediaPlayer,
.CTPmediaPlayer * {
	-webkit-animation-name: none !important;
	-webkit-appearance: none !important;
	-webkit-box-reflect: none !important;
	-webkit-mask-image: none !important;
	-webkit-perspective: none !important;
	-webkit-transform: none !important;
	-webkit-user-select: none !important; /* not default */
	border: none !important;
	box-shadow: none !important;
	box-sizing: content-box !important;
	/* This is incorrectly computed as rect(0px,0px,0px,0px) on video elements */
	/* clip: auto !important; */
	cursor: default !important; /* not default */
	outline: none !important;
	padding: 0 !important;
	pointer-events: auto !important;
	zoom: normal !important;
}

.CTPplaceholder *,
.CTPmediaPlayer * {
	-webkit-font-smoothing: subpixel-antialiased !important;
	-webkit-marquee-style: none !important;
	-webkit-text-stroke-width: 0 !important;
	border-radius: 0 !important;
	bottom: auto !important;
	clear: none !important;
	direction: ltr !important;
	float: none !important;
	font-stretch: normal !important;
	font-style: normal !important;
	font-variant: normal !important;
	font-weight: normal !important;
	left: auto !important;
	letter-spacing: normal !important;
	line-height: normal !important;
	margin: 0 !important;
	overflow: visible !important;
	right: auto !important;
	text-align: left !important;
	text-decoration: none !important;
	text-indent: 0 !important;
	text-overflow: clip !important;
	text-rendering: optimizelegibility !important; /* not default */
	text-shadow: none !important;
	text-transform: none !important;
	top: auto !important;
	visibility: inherit !important; /* not default */
	white-space: nowrap !important; /* not default */
	word-spacing: normal !important;
	z-index: auto !important;
}

/******************
Placeholder element
******************/

.CTPplaceholder {
	display: inline-block !important;
	background: none !important;
	overflow: hidden !important;
	visibility: visible !important;
}

.CTPplaceholder * {
	-webkit-transition-property: none !important;
	width: auto !important;
	height: auto !important;
}

.CTPplaceholder .CTPplaceholderContainer {
	position: relative !important;
	
	/* Safari < 6.1 */
	display: -webkit-box !important;
	-webkit-box-align: center !important;
	-webkit-box-direction: normal !important;
	-webkit-box-orient: horizontal !important;
	-webkit-box-pack: center !important;
	
	/* Safari >= 6.1 */
	display: -webkit-flex !important;
	-webkit-align-items: center !important;
	-webkit-flex-direction: row !important;
	-webkit-justify-content: center !important;
	
	-webkit-transition-property: none !important;
	background-attachment: scroll !important;
	background-clip: padding-box !important;
	background-color: transparent !important;
	background-origin: padding-box !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: contain !important;
	border: 1px solid rgba(180, 180, 180, 1) !important;
	box-sizing: border-box !important;
	height: inherit !important;
	width: inherit !important;
}

.CTPplaceholder.CTPnoimage .CTPplaceholderContainer {
	background-image: -webkit-linear-gradient(top, rgba(245, 245, 245, 1), rgba(210, 210, 210, 1)) !important;
}

.CTPplaceholder.CTPnoimage:active .CTPplaceholderContainer {
	background-image: -webkit-linear-gradient(top, rgba(235, 235, 235, 1), rgba(220, 220, 220, 1)) !important;
}

.CTPplaceholder .CTPplaceholderContainer * {
	background: none !important;
	opacity: 1 !important;
}

.CTPplaceholder .CTPlogoContainer {
	position: relative !important;
	display: block !important;
	
	/* Safari < 6.1 */
	-webkit-box-flex: 0 !important;
	
	/* Safari >= 6.1 */
	-webkit-flex: none !important;
	
	/* For Safari < 6.0(?): prevents the label from setting the baseline of the placeholder. */
	float: left !important;
}

.CTPplaceholder .CTPlogo {
	position: static !important;
	display: block !important;
	border: 3px solid rgba(240, 240, 240, 1) !important;
	border-radius: 7px !important;
	box-shadow: 0 0 2px rgba(0, 0, 0, 1), inset 0 0 2px rgba(0, 0, 0, 1), 0 0 6px rgba(0, 0, 0, 0.6), inset 0 0 6px rgba(0, 0, 0, 0.6) !important;
	color: rgba(240, 240, 240, 1) !important;
	font: -webkit-control !important;
	font-size: 20px !important;
	padding: 3px 5px 3px 5px !important;
	text-shadow: 0 0 3px rgba(0, 0, 0, 1), 0 0 6px rgba(0, 0, 0, 0.6) !important;
}

.CTPplaceholder.CTPnoimage .CTPlogo {
	border: 3px solid rgba(0, 0, 0, 0.25) !important;
	box-shadow: none !important;
	color: rgba(0, 0, 0, 0.35) !important;
	text-shadow: none !important;
}

.CTPplaceholder .CTPlogo.CTPinset {
	display: none !important;
}

.CTPplaceholder.CTPnoimage .CTPlogo.CTPinset {
	position: absolute !important;
	display: block !important;
	border-color: rgba(255, 255, 255, 0.45) !important;
	color: rgba(255, 255, 255, 0.45) !important;
	top: 1px !important;
}

.CTPplaceholder .CTPlogoContainer.CTPmini .CTPlogo,
.CTPplaceholder .CTPlogoContainer.CTPhidden .CTPlogo.CTPtmp {
	border-radius: 4px !important;
	border-width: 2px !important;
	font-size: 10px !important;
	padding: 1px 2px 1px 2px !important;
}

.CTPplaceholder .CTPlogoContainer.CTPhidden .CTPlogo.CTPtmp {
	position: absolute !important;
}

.CTPplaceholder.CTPnoimage .CTPlogoContainer.CTPmini .CTPlogo {
	border-color: rgba(50, 50, 50, 0.25) !important;
	color: rgba(50, 50, 50, 0.4) !important;
}

.CTPplaceholder.CTPnoimage .CTPlogoContainer.CTPmini .CTPlogo.CTPinset {
	border-color: rgba(255, 255, 255, 0.25) !important;
	color: transparent !important;
}

/***********
Media player
***********/

.CTPmediaPlayer * {
	background: none !important;
}

.CTPmediaPlayer {
	display: inline-block !important;
	background-attachment: scroll !important;
	background-clip: border-box !important;
	background-color: transparent !important;
	background-origin: padding-box !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: contain !important;
	visibility: visible !important;
}

.CTPmediaPlayer .CTPmediaElement {
	position: absolute !important;
	display: block !important;
	-webkit-transition-property: none !important;
	bottom: 0 !important;
	left: 0 !important;
	margin: auto !important;
	opacity: 1 !important;
	right: 0 !important;
	top: 0 !important;
}

.CTPmediaPlayer .CTPmediaElement::-webkit-media-controls-status-display.hidden {
	display: none !important;
}

.CTPmediaPlayer .CTPtrackSelector {
	position: absolute !important;
	
	/* Safari < 6.1 */
	display: -webkit-box !important;
	-webkit-box-align: center !important;
	-webkit-box-direction: normal !important;
	-webkit-box-orient: horizontal !important;
	-webkit-box-pack: start !important;
	
	/* Safari >= 6.1 */
	display: -webkit-flex !important;
	-webkit-align-items: center !important;
	-webkit-flex-direction: row !important;
	-webkit-justify-content: flex-start !important;
	
	-webkit-appearance: media-controls-background !important;
	-webkit-transition-property: none !important;
	background-color: transparent !important;
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.921569) 0px, rgba(0, 0, 0, 0.921569) 1px, rgba(89, 89, 89, 0.921569) 1px, rgba(89, 89, 89, 0.921569) 2px, rgba(60, 60, 60, 0.921569) 2px, rgba(35, 35, 35, 0.921569) 12px, rgba(30, 30, 30, 0.921569) 12px, rgba(30, 30, 30, 0.921569) 13px, rgba(25, 25, 25, 0.921569) 13px, rgba(17, 17, 17, 0.921569) 100%) !important;
	bottom: 0 !important;
	box-sizing: border-box !important;
	height: 25px !important;
	opacity: 1 !important;
	overflow: hidden !important;
	padding: 0 7px !important;
	pointer-events: visible !important;
	width: inherit !important;
}

.CTPmediaPlayer .CTPtrackList {
	position: static !important;
	
	/* Safari < 6.1 */
	display: -webkit-box !important;
	-webkit-box-align: center !important;
	-webkit-box-direction: normal !important;
	-webkit-box-flex: 1 !important;
	-webkit-box-orient: horizontal !important;
	-webkit-box-pack: start !important;
	
	/* Safari >= 6.1 */
	display: -webkit-flex !important;
	-webkit-align-items: center !important;
	-webkit-flex: 1 !important;
	-webkit-flex-direction: row !important;
	-webkit-justify-content: flex-start !important;
	
	-webkit-transition-property: none !important;
	color: white !important;
	font: -webkit-small-control !important;
	font-size: 10px !important;
	height: inherit !important;
	opacity: 1 !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	text-shadow: black 0 1px 1px !important;
	white-space: pre !important;
	width: auto !important;
}

.CTPsourceSelector * {
	-webkit-transition-property: none !important;
	background: none !important;
	font: -webkit-small-control !important;
	font-size: 10px !important;
	height: auto !important;
	width: auto !important;
	text-shadow: black 0 1px 1px !important;
}

.CTPsourceSelector {
	position: absolute !important;
	display: block !important;
	-webkit-transition-delay: 0s !important;
	-webkit-transition-duration: .2s !important;
	-webkit-transition-timing-function: ease-in !important;
	background-attachment: scroll !important;
	background-clip: border-box !important;
	background-color: transparent !important;
	background-image: -webkit-linear-gradient(top, rgba(59, 59, 59, 0.9), rgba(39, 39, 39, 0.9) 25%, rgba(25, 25, 25, 0.9) 26.5%, rgba(19, 19, 19, 0.9)) !important;
	background-origin: padding-box !important;
	background-position: center !important;
	background-repeat: repeat !important;
	background-size: contain !important;
	border: 1px solid rgba(0, 0, 0, .6) !important;
	border-radius: 5px !important;
	box-shadow: rgba(0, 0, 0, .5) 0 1px 2px !important;
	height: auto !important;
	left: 10px !important;
	opacity: 0 !important;
	pointer-events: none !important;
	top: 10px !important;
	width: auto !important;
	z-index: 2 !important;
}

.CTPsourceSelector:hover {
	-webkit-transition-duration: .05s !important;
	-webkit-transition-timing-function: linear !important;
	opacity: 1 !important;
}

.CTPsourceSelector .CTPsourceList {
	position: static !important;
	display: block !important;
	border-radius: 5px !important;
	border-top: 1px solid #555 !important;
	opacity: 1 !important;
	padding: 2px 5px !important;
	pointer-events: auto !important;
}

.CTPsourceSelector .CTPsourceItem {
	position: static !important;
	display: list-item !important;
	color: #ADADAD !important;
	cursor: pointer !important;
	list-style: none !important;
	margin: 5px !important;
	opacity: 1 !important;
}

.CTPsourceSelector .CTPsourceItem:hover,
.CTPsourceSelector .CTPsourceItem.CTPcurrentSource {
	color: white !important;
}

.CTPsourceSelector .CTPsourceItem:active {
	text-shadow: white 0 0 7px !important;
}

.CTPmediaPlayer .CTPsourceItem.CTPcurrentSource:active {
	text-shadow: none !important;
}

.CTPmediaPlayer .CTPsourceItem.CTPcurrentSource {
	cursor: default !important;
}

.CTPsourceSelector .CTPsourceItem::before {
	content: "" !important;
}

.CTPmediaPlayer .CTPsourceItem.CTPcurrentSource::before {
	display: inline-block !important;
	color: inherit !important;
	content: "•" !important;
	margin-left: -7px !important;
	opacity: 1 !important;
	width: 7px !important;
}

/************
Stack element
************/

#CTPstack * {
	display: none !important;
}

/************
Settings pane
************/

#CTPsettingsPane {
	position: fixed !important;
	display: block !important;
	-webkit-animation-name: none !important;
	-webkit-appearance: none !important;
	-webkit-mask-image: none !important;
	-webkit-perspective: none !important;
	-webkit-transform: none !important;
	-webkit-user-select: none !important;
	border: none !important;
	bottom: 0 !important;
	box-sizing: content-box !important;
	height: 100% !important;
	left: 0 !important;
	margin: 0 !important;
	outline: none !important;
	padding: 0 !important;
	pointer-events: auto !important;
	right: 0 !important;
	top: 0 !important;
	width: 100% !important;
	z-index: 2147483647 !important;
	zoom: normal !important;
}

/**********************
Invisible plugin object
**********************/

.CTPpluginLauncher {
	position: absolute !important;
	height: 1px !important;
	left: 0 !important;
	top: 0 !important;
	visibility: hidden !important;
	width: 1px !important;
}

/**************
Generic classes
**************/

.CTPnodisplay, .CTPplaceholder .CTPnodisplay, .CTPmediaPlayer .CTPnodisplay {
	display: none !important;
}

.CTPhidden, .CTPplaceholder .CTPhidden, .CTPmediaPlayer .CTPhidden {
	visibility: hidden !important;
}
