<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<array></array>
		<key>Key</key>
		<string>allowedPlugins</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<array></array>
		<key>Key</key>
		<string>locationsWhitelist</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<array></array>
		<key>Key</key>
		<string>sourcesWhitelist</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<array></array>
		<key>Key</key>
		<string>locationsBlacklist</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<array></array>
		<key>Key</key>
		<string>sourcesBlacklist</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>invertWhitelists</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>invertBlacklists</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<array>
		    <integer>0</integer>
		    <integer>1</integer>
		    <integer>2</integer>
		    <integer>3</integer>
		    <integer>4</integer>
		    <integer>5</integer>
		    <integer>6</integer>
		    <integer>7</integer>
		    <integer>8</integer>
		    <integer>9</integer>
		    <integer>10</integer>
		    <integer>11</integer>
		    <integer>12</integer>
		    <integer>13</integer>
		    <integer>14</integer>
		    <integer>15</integer>
		</array>
		<key>Key</key>
		<string>enabledKillers</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>useFallbackMedia</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>showSourceSelector</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>showPluginSourceItem</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>showQTPSourceItem</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>usePlaylists</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>showVolumeSlider</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>hideRewindButton</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>mediaAutoload</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<array>
		  <string>www.youtube.com/watch</string>
		</array>
		<key>Key</key>
		<string>mediaWhitelist</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>preload</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<integer>1080</integer>
		<key>Key</key>
		<string>maxResolution</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>html5</string>
		<key>Key</key>
		<string>defaultPlayer</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>deanimateGIF</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<integer>2</integer>
		<key>Key</key>
		<string>codecsPolicy</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>volume</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>disableEnableContext</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>addToWhitelistContext</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>addToBlacklistContext</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>loadAllContext</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>loadInvisibleContext</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>downloadContext</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>viewOnSiteContext</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>viewInQTPContext</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<dict>
		    <key>type</key>
		    <string>keydown</string>
		    <key>shiftKey</key>
		    <false/>
		    <key>ctrlKey</key>
		    <true/>
		    <key>altKey</key>
		    <false/>
		    <key>metaKey</key>
		    <true/>
		    <key>keyIdentifier</key>
		    <string>U+0041</string>
		</dict>
		<key>Key</key>
		<string>loadAllShortcut</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<dict>
		    <key>type</key>
		    <string>keydown</string>
		    <key>shiftKey</key>
		    <false/>
		    <key>ctrlKey</key>
		    <true/>
		    <key>altKey</key>
		    <false/>
		    <key>metaKey</key>
		    <true/>
		    <key>keyIdentifier</key>
		    <string>U+0048</string>
		</dict>
		<key>Key</key>
		<string>hideAllShortcut</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<dict>
		    <key>type</key>
		    <string>click</string>
		    <key>shiftKey</key>
		    <false/>
		    <key>ctrlKey</key>
		    <false/>
		    <key>altKey</key>
		    <true/>
		    <key>metaKey</key>
		    <false/>
		    <key>button</key>
		    <integer>0</integer>
		</dict>
		<key>Key</key>
		<string>hidePluginShortcut</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<dict>
		    <key>type</key>
		    <string>keydown</string>
		    <key>shiftKey</key>
		    <false/>
		    <key>ctrlKey</key>
		    <false/>
		    <key>altKey</key>
		    <false/>
		    <key>metaKey</key>
		    <false/>
		    <key>keyIdentifier</key>
		    <string>U+0020</string>
		</dict>
		<key>Key</key>
		<string>playPauseShortcut</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
	    <dict>
		    <key>type</key>
		    <string>keydown</string>
		    <key>shiftKey</key>
		    <false/>
		    <key>ctrlKey</key>
		    <false/>
		    <key>altKey</key>
		    <false/>
		    <key>metaKey</key>
		    <false/>
		    <key>keyIdentifier</key>
		    <string>U+0046</string>
		</dict>
		<key>Key</key>
		<string>enterFullscreenShortcut</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<dict>
		    <key>type</key>
		    <string>keydown</string>
		    <key>shiftKey</key>
		    <false/>
		    <key>ctrlKey</key>
		    <false/>
		    <key>altKey</key>
		    <false/>
		    <key>metaKey</key>
		    <false/>
		    <key>keyIdentifier</key>
		    <string>Up</string>
		</dict>
		<key>Key</key>
		<string>volumeUpShortcut</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<dict>
		    <key>type</key>
		    <string>keydown</string>
		    <key>shiftKey</key>
		    <false/>
		    <key>ctrlKey</key>
		    <false/>
		    <key>altKey</key>
		    <false/>
		    <key>metaKey</key>
		    <false/>
		    <key>keyIdentifier</key>
		    <string>Down</string>
		</dict>
		<key>Key</key>
		<string>volumeDownShortcut</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<dict>
		    <key>type</key>
		    <string>keydown</string>
		    <key>shiftKey</key>
		    <false/>
		    <key>ctrlKey</key>
		    <false/>
		    <key>altKey</key>
		    <false/>
		    <key>metaKey</key>
		    <false/>
		    <key>keyIdentifier</key>
		    <string>Left</string>
		</dict>
		<key>Key</key>
		<string>prevTrackShortcut</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<dict>
		    <key>type</key>
		    <string>keydown</string>
		    <key>shiftKey</key>
		    <false/>
		    <key>ctrlKey</key>
		    <false/>
		    <key>altKey</key>
		    <false/>
		    <key>metaKey</key>
		    <false/>
		    <key>keyIdentifier</key>
		    <string>Right</string>
		</dict>
		<key>Key</key>
		<string>nextTrackShortcut</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<dict>
		    <key>type</key>
		    <string>dblclick</string>
		    <key>shiftKey</key>
		    <false/>
		    <key>ctrlKey</key>
		    <false/>
		    <key>altKey</key>
		    <false/>
		    <key>metaKey</key>
		    <false/>
		    <key>button</key>
		    <integer>0</integer>
		</dict>
		<key>Key</key>
		<string>toggleLoopingShortcut</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<dict>
		    <key>type</key>
		    <string>keydown</string>
		    <key>shiftKey</key>
		    <false/>
		    <key>ctrlKey</key>
		    <false/>
		    <key>altKey</key>
		    <false/>
		    <key>metaKey</key>
		    <false/>
		    <key>keyIdentifier</key>
		    <string>U+0049</string>
		</dict>
		<key>Key</key>
		<string>showTitleShortcut</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>loadInvisible</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>debug</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>textonly</string>
		<key>Key</key>
		<string>sIFRPolicy</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.5</real>
		<key>Key</key>
		<string>opacity</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<integer>8</integer>
		<key>Key</key>
		<string>maxInvisibleSize</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>showPoster</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>showTooltip</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>showMediaTooltip</string>
	</dict>
</array>
</plist>
