<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>MIME Settings</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>blockAll</string>
		<key>Key</key>
		<string>block</string>
		<key>Title</key>
		<string>Block</string>
		<key>Titles</key>
		<array>
			<string>all MIME types</string>
			<string>all MIME types not matching the greenlist</string>
			<string>only the MIME types matching the redlist</string>
		</array>
		<key>Type</key>
		<string>RadioButtons</string>
		<key>Values</key>
		<array>
			<string>blockAll</string>
			<string>useGreenlist</string>
			<string>useRedlist</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>greenlist</string>
		<key>Title</key>
		<string>Greenlist</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>flash, futuresplash, silverlight</string>
		<key>Key</key>
		<string>redlist</string>
		<key>Title</key>
		<string>Redlist</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>allowQT</string>
		<key>Title</key>
		<string>Allow QuickTime plugin                                 </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Video Settings</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>useH264</string>
		<key>Title</key>
		<string>Look for video replacements to                     </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>replaceFlash</string>
		<key>Title</key>
		<string>Flash                                             </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>replaceSL</string>
		<key>Title</key>
		<string>Silverlight                                      </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>replaceQT</string>
		<key>Title</key>
		<string>QuickTime                                    </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>replaceWM</string>
		<key>Title</key>
		<string>Windows Media                             </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>usePlaylists</string>
		<key>Title</key>
		<string>Use playlists                                                   </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>H264autoload</string>
		<key>Title</key>
		<string>Load the video player automatically              </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>autoplay</string>
		<key>Key</key>
		<string>H264behavior</string>
		<key>Title</key>
		<string>Once loaded</string>
		<key>Titles</key>
		<array>
			<string>Do not buffer</string>
			<string>Start buffering</string>
			<string>Start buffering and play automatically</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>none</string>
			<string>buffer</string>
			<string>autoplay</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>2</real>
		<key>Key</key>
		<string>QTbehavior</string>
		<key>Title</key>
		<string>Nonnative codecs</string>
		<key>Titles</key>
		<array>
			<string>Do not use</string>
			<string>Use only as a last resort</string>
			<string>Use freely</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<real>1</real>
			<real>2</real>
			<real>3</real>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>3</real>
		<key>Key</key>
		<string>maxresolution</string>
		<key>Title</key>
		<string>Max resolution</string>
		<key>Titles</key>
		<array>
			<string>480p</string>
			<string>720p</string>
			<string>1080p</string>
			<string>4K</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<real>1</real>
			<real>2</real>
			<real>3</real>
			<real>4</real>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.5</real>
		<key>Key</key>
		<string>volume</string>
		<key>MaximumValue</key>
		<real>1</real>
		<key>StepValue</key>
		<real>0.01</real>
		<key>Title</key>
		<string>Sound volume</string>
		<key>Type</key>
		<string>Slider</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Whitelist</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>uselocWhitelist</string>
		<key>Title</key>
		<string>Allow embedded content on locations           </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>www.example.com, www.example2.com</string>
		<key>Key</key>
		<string>locwhitelist</string>
		<key>Title</key>
		<string>matching</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>locblacklist</string>
		<key>Title</key>
		<string>not matching</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>usesrcWhitelist</string>
		<key>Title</key>
		<string>Allow embedded content from sources         </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>srcwhitelist</string>
		<key>Title</key>
		<string>matching</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>srcblacklist</string>
		<key>Title</key>
		<string>not matching</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>useWLcontext</string>
		<key>Title</key>
		<string>Enable Whitelist contextual menu item          </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Invisible elements</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>loadInvisible</string>
		<key>Title</key>
		<string>Allow elements to load if                               </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>maxinvdim</string>
		<key>Title</key>
		<string>size is at most</string>
		<key>Titles</key>
		<array>
			<string>1 x 1 px</string>
			<string>2 x 2 px</string>
			<string>4 x 4 px</string>
			<string>8 x 8 px</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<real>1</real>
			<real>2</real>
			<real>4</real>
			<real>8</real>
		</array>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>textonly</string>
		<key>Key</key>
		<string>sifrReplacement</string>
		<key>Title</key>
		<string>sIFR Text</string>
		<key>Titles</key>
		<array>
			<string>Show text only</string>
			<string>Treat as regular Flash</string>
			<string>Load automatically</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>textonly</string>
			<string>normal</string>
			<string>autoload</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>debug</string>
		<key>Secure</key>
		<false/>
		<key>Title</key>
		<string>Enable debugging mode                                </string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
</array>
</plist>
