/* ClickToFlash/ClickToPlugin CSS stylesheet */

/* Reset author CSS */
.CTFplaceholder *, .CTFmediaPlayer * {
    border: 0 !important;
    border-radius: 0 !important;
    border-spacing: 0 !important;
    text-align: left !important;
    text-indent: 0 !important;
    text-decoration: none !important;
    text-transform: none !important;
    text-shadow: none !important;
    letter-spacing: normal !important;
    margin: 0 !important;
    padding: 0 !important;
    float: none !important;
}

.CTFplaceholder *:not(.CTFsourceSelector), .CTFmediaPlayer *:not(.CTFsourceSelector) {
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    left: auto !important;
}

.CTFplaceholder div, .CTFmediaPlayer div {
    display: block !important;
}

/**************
Generic classes
**************/

.CTFnodisplay, .CTFplaceholder .CTFnodisplay, .CTFmediaPlayer .CTFnodisplay {
    display: none !important;
}

/************
Stack element
************/

#CTFstack {
    display: none !important;
}

/******************
Placeholder element
******************/

.CTFplaceholder * {
    background: none !important;
    width: auto !important;
    height: auto !important;
}

.CTFplaceholder {
    display: inline-block !important;
    border: 1px solid rgba(180, 180, 180, 1) !important;
    padding: 0 !important;
    -webkit-user-select: none !important;
    -webkit-box-sizing: border-box !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-origin: border-box !important;
    background-size: contain !important;
    overflow: hidden !important;
}

/* For pixel-perfect layout, we still need: */
.CTFplaceholder[style*="width: 0px"], .CTFplaceholder[style*="height: 0px"] {
    border-style: none !important;
}

.CTFplaceholder[style*="width: 1px"] {
    border-left-style: none !important;
}

.CTFplaceholder[style*="height: 1px"] {
    border-top-style: none !important;
}

.CTFplaceholder.CTFnoimage {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(245, 245, 245, 1)), to(rgba(210, 210, 210, 1))) !important;
}

.CTFplaceholder.CTFnoimage:active {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(235, 235, 235, 1)), to(rgba(220, 220, 220, 1))) !important;
}

.CTFplaceholder .CTFplaceholderContainer {
    position: relative !important;
    width: inherit !important;
    height: inherit !important;
    margin: -1px !important;
    overflow: visible !important;
}

.CTFplaceholder .CTFlogoVerticalPosition {
    display: table-cell !important;
    vertical-align: middle !important;
    width: inherit !important;
    height: inherit !important;
}

.CTFplaceholder .CTFlogoHorizontalPosition {
    position: relative !important;
    float: left !important;
    left: 50% !important;
    overflow: visible !important;
}

.CTFplaceholder .CTFlogoContainer {
    position: relative !important;
    float: left !important;
    left: -50% !important;
    overflow: visible !important;
}

.CTFplaceholder .CTFlogoContainer.CTFhidden {
    visibility: hidden !important;
}

.CTFplaceholder .CTFlogo {
    position: relative !important;
    border: 4px solid rgba(240, 240, 240, 1) !important;
    border-radius: 8px !important;
    color: rgba(240, 240, 240, 1) !important;
    text-shadow: 0 0 2px rgba(0, 0, 0, 1), 0 0 6px rgba(0, 0, 0, 0.6) !important;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 1), inset 0 0 2px rgba(0, 0, 0, 1), 0 0 6px rgba(0, 0, 0, 0.6), inset 0 0 6px rgba(0, 0, 0, 0.6) !important;
    -webkit-user-select: none !important;
    padding: 14px 5px 7px 5px !important;
    line-height: 0 !important;
    font-family: "Helvetica Neue", Helvetica, sans-serif !important;
    font-size: 20px !important;
    font-style: normal !important;
    font-weight: bold !important;
    white-space: nowrap !important;
}

.CTFplaceholder.CTFnoimage .CTFlogo {
    color: rgba(0, 0, 0, 0.35) !important;
    border: 4px solid rgba(0, 0, 0, 0.25) !important;
    text-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.CTFplaceholder .CTFlogo.CTFinset {
    position: absolute !important;
    top: 1px !important;
    color: rgba(175, 175, 175, 0.3) !important;
    border-color: rgba(175, 175, 175, 0.3) !important;
    text-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.CTFplaceholder.CTFnoimage .CTFlogo.CTFinset {
    color: rgba(255, 255, 255, 0.45) !important;
    border-color: rgba(255, 255, 255, 0.45) !important;
}

.CTFplaceholder .CTFlogoContainer.CTFmini .CTFlogo,
.CTFplaceholder .CTFlogoContainer.CTFhidden .CTFlogo.CTFtmp {
    border-width: 2px !important;
    border-radius: 4px !important;
    font-size: 10px !important;
    padding: 7px 2px 4px 2px !important;
}

.CTFplaceholder.CTFnoimage .CTFlogoContainer.CTFmini .CTFlogo {
    border-color: rgba(50, 50, 50, 0.2) !important;
    color: rgba(50, 50, 50, 0.4) !important;
}

.CTFplaceholder .CTFlogoContainer.CTFhidden .CTFlogo.CTFtmp {
    position: absolute !important;
}

.CTFplaceholder.CTFnoimage .CTFlogoContainer.CTFmini .CTFlogo.CTFinset {
    border-color: rgba(255, 255, 255, 0.25) !important;
    color: rgba(255, 255, 255, 0.25) !important;
}

/***********
Media player
***********/

.CTFmediaPlayer * {
    color: white !important;
    text-rendering: auto !important;
    font-family: "Lucida Grande", Helvetica, sans-serif !important;
    font-size: 10px !important;
    font-style: normal !important;
    font-weight: normal !important;
}

.CTFmediaPlayer {
    display: inline-block !important;
    position: relative !important;
    margin: 0 !important;
    padding: 0 !important;
}

.CTFmediaPlayer .CTFvideoElement {
    display: block !important;
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0px auto 0px auto !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-origin: border-box !important;
    background-size: contain !important;
    z-index: 1 !important;
}

.CTFmediaPlayer .CTFplaylistControls {
    position: absolute !important;
    bottom: 24px !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0px auto 0px auto !important;
    height: 24px !important;
    z-index: 2 !important;
    -webkit-user-select: none !important;
    background: none !important;
    background-image: url('controls_background.png') !important;
    background-repeat: repeat-x !important;
    pointer-events: none !important;
}

.CTFmediaPlayer .CTFplaylistControls * {
    background: none !important;
    text-shadow: black 0 1px 1px !important;
}

/* Left playlist controls */
.CTFmediaPlayer .CTFplaylistControlsLeft {
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    height: inherit !important;
}

.CTFmediaPlayer .CTFplaylistControlsLeft {
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    height: inherit !important;
}

.CTFmediaPlayer .CTFtrackInfo {
    display: table-cell !important;
    vertical-align: middle !important;
    height: inherit !important;
    padding: 0 5px 0 7px !important;
}

.CTFmediaPlayer .CTFtrackInfo p {
    display: block !important;
    line-height: normal !important;
    text-align: left !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

/* Right playlist controls */
.CTFmediaPlayer .CTFplaylistControlsRight {
    position: absolute !important;
    top: 0px !important;
    right: 4px !important;
    height: inherit !important;
}

.CTFmediaPlayer .CTFprevButton {
    display: table-cell !important;
    vertical-align: middle !important;
    height: inherit !important;
    width: 37px !important;
    background-image: url('prev.png') !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    pointer-events: auto !important;
}

.CTFmediaPlayer .CTFprevButton:active {
    background-image: url('prev_active.png') !important;
}

.CTFmediaPlayer .CTFtrackSelect {
    display: table-cell !important;
    vertical-align: middle !important;
    height: inherit !important;
}

.CTFmediaPlayer .CTFnextButton {
    display: table-cell !important;
    vertical-align: middle !important;
    height: inherit !important;
    width: 37px !important;
    background-image: url('next.png') !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    pointer-events: auto !important;
}

.CTFmediaPlayer .CTFnextButton:active {
    background-image: url('next_active.png') !important;
}

.CTFmediaPlayer .CTFtrackSelect input {
    display: inline-block !important;
    border: 1px solid rgba(0, 0, 0, 1) !important;
    height: 12px !important;
    -webkit-box-sizing: content-box !important;
    line-height: 1 !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
    text-align: right !important;
    pointer-events: auto !important;
}

.CTFmediaPlayer .CTFtrackSelect span {
    display: inline !important;
    line-height: 1 !important;
}

/**************
Source switcher
**************/

.CTFsourceSelector * {
    width: auto !important;
    height: auto !important;
    background: none !important;
    text-rendering: auto !important;
    font-family: "Lucida Grande", Helvetica, sans-serif !important;
    font-size: 10px !important;
    font-style: normal !important;
    font-weight: normal !important;
    list-style: none !important;
    text-shadow: black 0 1px 1px !important;
}

.CTFsourceSelector {
    display: block !important;
    position: absolute !important;
    z-index: 2 !important;
    -webkit-user-select: none !important;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(59, 59, 59, 0.9)), to(rgba(19, 19, 19, 0.9)), color-stop(.25, rgba(39, 39, 39, 0.9)), color-stop(.265, rgba(25, 25, 25, 0.9))) !important;
    pointer-events: none !important;
    opacity: 0 !important;
    border-radius: 5px !important;
    border: 1px solid rgba(0, 0, 0, .6) !important;
    -webkit-box-shadow: rgba(0, 0, 0, .5) 0 1px 2px !important;
    -webkit-transition-duration: .2s !important;
    -webkit-transition-timing-function: linear !important;
}

.CTFsourceSelector.CTFhidden {
    visibility: hidden !important;
}

.CTFsourceSelector:hover {
    opacity: 1 !important;
    -webkit-transition-duration: .05s !important;
    -webkit-transition-timing-function: linear !important;
}

.CTFsourceSelector .CTFsourceList {
    display: block !important;
    pointer-events: auto !important;
    margin: 0 !important;
    padding: 2px 5px !important;
    border-top: 1px solid #555 !important;
    border-radius: 5px !important;
}

.CTFsourceSelector li {
    display: list-item !important;
    position: static !important;
    cursor: pointer !important;
    margin: 5px !important;
    padding: 0 !important;
    color: #ADADAD !important;
    line-height: normal !important;
}

.CTFsourceSelector li.CTFcurrentSource {
    color: white !important;
}

.CTFmediaPlayer li.CTFcurrentSource {
    cursor: default !important;
}

.CTFsourceSelector li a {
    color: inherit !important;
    cursor: inherit !important;
}

.CTFsourceSelector li:hover {
    color: white !important;  
}

.CTFsourceSelector li:active,
.CTFsourceSelector li:active a {
    text-shadow: white 0 0 7px !important;  
}

.CTFmediaPlayer li.CTFcurrentSource:active a {
    text-shadow: none !important;  
}

.CTFmediaPlayer li.CTFcurrentSource a::before {
    content: "\2022" !important;
    display: inline-block !important;
    width: 7px !important;
    margin-left: -7px !important;
}

/*************************
Invisible QuickTime object
*************************/

.CTFplaceholder .CTFQTObject,
.CTFmediaPlayer .CTFQTObject {
    position: absolute !important;
    width: 0px !important;
    height: 0px !important;
}

