/* ClickToFlash/ClickToPlugin CSS stylesheet */

/******************************
CSS Reset (specificity 0,0,1,0)
******************************/

/*
Not reset here:
-webkit-box-* (flex boxes)
-webkit-transition-property
background
color
display
font-family
font-size
height
left
opacity
position
width
*/

/*
Should pseudo-elements be reset as well? e.g.
.CTFplaceholder ::before {content: none !important;}
etc.
*/

/*
In the WebKit nightlies the universal selector seems to select pseudo-elements as well.
If this is the correct behavior (??), * should not be used.
*/

.CTFplaceholder,
.CTFplaceholder *,
.CTFmediaPlayer,
.CTFmediaPlayer * {
    -webkit-animation-name: none !important;
    -webkit-appearance: none !important;
    -webkit-box-reflect: none !important;
    -webkit-box-shadow: none !important;
    -webkit-box-sizing: content-box !important;
    -webkit-mask-image: none !important;
    -webkit-perspective: none !important;
    -webkit-transform: none !important;
    -webkit-user-select: none !important; /* not default */
    border: none !important;
    /* This is incorrectly computed as rect(0px,0px,0px,0px) on video elements, which screws things up */
    /* clip: auto !important; */
    cursor: default !important; /* not default */
    outline: none !important;
    padding: 0 !important;
    pointer-events: auto !important;
    zoom: normal !important;
}

.CTFplaceholder *,
.CTFmediaPlayer * {
    -webkit-font-smoothing: subpixel-antialiased !important;
    -webkit-marquee-style: none !important;
    -webkit-text-stroke-width: 0 !important;
    border-radius: 0 !important; /* WebKit not following the spec? */
    bottom: auto !important;
    clear: none !important;
    direction: ltr !important;
    float: none !important;
    font-stretch: normal !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    letter-spacing: normal !important;
    line-height: normal !important;
    margin: 0 !important;
    overflow: visible !important;
    right: auto !important;
    text-align: left !important;
    text-decoration: none !important;
    text-indent: 0 !important;
    text-overflow: clip !important;
    text-rendering: optimizeLegibility !important; /* not default */
    text-shadow: none !important;
    text-transform: none !important;
    top: auto !important;
    visibility: inherit !important; /* not default */
    white-space: nowrap !important; /* not default */
    word-spacing: normal !important;
    z-index: auto !important;
}

/************
Disabled sIFR
************/

.CTFdisabledSIFR {
    visibility: visible !important;
}

/************
Stack element
************/

#CTFstack {
    display: none !important;
}

/******************
Placeholder element
******************/

.CTFplaceholder {
    display: inline-block !important;
    background: none !important;
    overflow: hidden !important;
    visibility: visible !important;
}

.CTFplaceholder * {
    -webkit-transition-property: none !important;
    width: auto !important;
    height: auto !important;
    left: auto !important;
}

.CTFplaceholder .CTFplaceholderContainer {
    position: relative !important;
    display: -webkit-box !important;
    -webkit-box-align: center !important;
    -webkit-box-direction: normal !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-pack: center !important;
    -webkit-box-sizing: border-box !important;
    -webkit-transition-property: none !important;
    background-attachment: scroll !important;
    background-clip: padding-box !important;
    background-color: transparent !important;
    background-origin: padding-box !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    border: 1px solid rgba(180, 180, 180, 1) !important;
    height: inherit !important;
    width: inherit !important;
}

.CTFplaceholder.CTFnoimage .CTFplaceholderContainer {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(245, 245, 245, 1)), to(rgba(210, 210, 210, 1))) !important;
}

.CTFplaceholder.CTFnoimage:active .CTFplaceholderContainer {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(235, 235, 235, 1)), to(rgba(220, 220, 220, 1))) !important;
}

.CTFplaceholder .CTFplaceholderContainer * {
    background: none !important;
    opacity: 1 !important;
}

.CTFplaceholder .CTFlogoContainer {
    position: relative !important;
    display: block !important;
    -webkit-box-flex: 0 !important;
    /* Using float: none can change the vertical alignment of inline placeholders. Que?? */
    float: left !important;
}

.CTFplaceholder .CTFlogo {
    position: static !important;
    display: block !important;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 1), inset 0 0 2px rgba(0, 0, 0, 1), 0 0 6px rgba(0, 0, 0, 0.6), inset 0 0 6px rgba(0, 0, 0, 0.6) !important;
    border: 3px solid rgba(240, 240, 240, 1) !important;
    border-radius: 7px !important;
    color: rgba(240, 240, 240, 1) !important;
    font: -webkit-control !important;
    font-size: 20px !important;
    padding: 3px 5px 3px 5px !important;
    text-shadow: 0 0 3px rgba(0, 0, 0, 1), 0 0 6px rgba(0, 0, 0, 0.6) !important;
}

.CTFplaceholder.CTFnoimage .CTFlogo {
    -webkit-box-shadow: none !important;
    border: 3px solid rgba(0, 0, 0, 0.25) !important;
    color: rgba(0, 0, 0, 0.35) !important;
    text-shadow: none !important;
}

.CTFplaceholder .CTFlogo.CTFinset {
    display: none !important;
}

.CTFplaceholder.CTFnoimage .CTFlogo.CTFinset {
    position: absolute !important;
    display: block !important;
    border-color: rgba(255, 255, 255, 0.45) !important;
    color: rgba(255, 255, 255, 0.45) !important;
    top: 1px !important;
}

.CTFplaceholder .CTFlogoContainer.CTFmini .CTFlogo,
.CTFplaceholder .CTFlogoContainer.CTFhidden .CTFlogo.CTFtmp {
    border-radius: 4px !important;
    border-width: 2px !important;
    font-size: 10px !important;
    padding: 1px 2px 1px 2px !important;
}

.CTFplaceholder.CTFnoimage .CTFlogoContainer.CTFmini .CTFlogo {
    border-color: rgba(50, 50, 50, 0.25) !important;
    color: rgba(50, 50, 50, 0.4) !important;
}

.CTFplaceholder.CTFnoimage .CTFlogoContainer.CTFmini .CTFlogo.CTFinset {
    border-color: rgba(255, 255, 255, 0.25) !important;
    color: transparent !important;
}

/***********
Media player
***********/

@font-face {
    font-family: QuickTimeMediaControls;
    src: url('QuickTimeMediaControls.ttf');
}

.CTFmediaPlayer * {
    background: none !important;
}

.CTFmediaPlayer {
    display: inline-block !important;
    background-attachment: scroll !important;
    background-clip: border-box !important;
    background-color: transparent !important;
    background-origin: padding-box !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    visibility: visible !important;
}

.CTFmediaPlayer .CTFmediaElement {
    position: absolute !important;
    display: block !important;
    -webkit-transition-property: none !important;
    bottom: 0 !important;
    left: 0 !important;
    margin: auto !important;
    opacity: 1 !important;
    right: 0 !important;
    top: 0 !important;
}

.CTFmediaPlayer .CTFtrackInfo {
    position: absolute !important;
    -webkit-appearance: media-controls-background !important;
    -webkit-box-align: center !important;
    -webkit-box-direction: normal !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-pack: start !important;
    -webkit-box-sizing: border-box !important;
    -webkit-transition-property: none !important;
    bottom: 0 !important;
    height: 25px !important;
    opacity: 1 !important;
    padding: 0 7px !important;
    pointer-events: none !important;
    right: 0 !important;
}

.CTFmediaPlayer .CTFtrackStatus,
.CTFmediaPlayer .CTFtrackTitle {
    position: static !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 1 !important;
    -webkit-transition-property: none !important;
    color: white !important;
    font: -webkit-small-control !important;
    font-size: 10px !important;
    height: auto !important;
    left: auto !important;
    opacity: 1 !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    text-shadow: black 0 1px 1px !important;
    white-space: pre-wrap !important;
    width: auto !important;
}

.CTFmediaPlayer .CTFtrackStatus {
    -webkit-box-flex: 0 !important;
}

.CTFmediaPlayer .CTFtrackTitle {
    -webkit-box-flex: 1 !important;
}

.CTFmediaPlayer .CTFplaylistControls {
    position: absolute !important;
    -webkit-box-align: center !important;
    -webkit-box-direction: normal !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-pack: start !important;
    bottom: 0 !important;
    height: 25px !important;
    pointer-events: none !important;
    width: intrinsic !important;
}

.CTFmediaPlayer .CTFprevButton,
.CTFmediaPlayer .CTFnextButton {
    position: static !important;
    display: -webkit-box !important;
    -webkit-box-flex: 0 !important;
    -webkit-font-smoothing: antialiased !important;
    -webkit-transition-property: none !important;
    color: #FAFAFA !important;
    font-family: QuickTimeMediaControls !important;
    font-size: 25px !important;
    height: 25px !important;
    left: auto !important;
    opacity: .87 !important;
    text-shadow: black 0 1px 1px !important;
    width: 25px !important;
}

.CTFmediaPlayer .CTFnextButton {
    text-align: right !important;
    margin-left: 28px !important;
}

.CTFmediaPlayer .CTFprevButton:active,
.CTFmediaPlayer .CTFnextButton:active {
    text-shadow: #555 0 1px 1px, white 0 0 10px !important;
}

/*.CTFmediaPlayer .CTFmediaElement::-webkit-media-controls-seek-back-button {
    display: -webkit-box !important;
    -webkit-appearance: none !important;
    background-image: url('back.svg') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 35px !important;
}*/

/**************
Source selector
**************/

.CTFsourceSelector * {
    -webkit-transition-property: none !important;
    background: none !important;
    font: -webkit-small-control !important;
    font-size: 10px !important;
    left: auto !important;
    height: auto !important;
    width: auto !important;
    text-shadow: black 0 1px 1px !important;
}

.CTFsourceSelector {
    position: absolute !important;
    display: block !important;
    -webkit-box-shadow: rgba(0, 0, 0, .5) 0 1px 2px !important;
    -webkit-transition-delay: 0s !important;
    -webkit-transition-duration: .2s !important;
    -webkit-transition-timing-function: ease-in !important;
    background-attachment: scroll !important;
    background-clip: border-box !important;
    background-color: transparent !important;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(59, 59, 59, 0.9)), to(rgba(19, 19, 19, 0.9)), color-stop(.25, rgba(39, 39, 39, 0.9)), color-stop(.265, rgba(25, 25, 25, 0.9))) !important;
    background-origin: padding-box !important;
    background-position: center !important;
    background-repeat: repeat !important;
    background-size: contain !important;
    border: 1px solid rgba(0, 0, 0, .6) !important;
    border-radius: 5px !important;
    height: auto !important;
    left: 10px !important;
    opacity: 0 !important;
    pointer-events: none !important;
    top: 10px !important;
    width: auto !important;
    z-index: 2 !important;
}

.CTFsourceSelector:hover {
    -webkit-transition-delay: 0s !important;
    -webkit-transition-duration: .05s !important;
    -webkit-transition-timing-function: linear !important;
    opacity: 1 !important;
}

.CTFsourceSelector .CTFsourceList {
    position: static !important;
    display: block !important;
    border-radius: 5px !important;
    border-top: 1px solid #555 !important;
    opacity: 1 !important;
    padding: 2px 5px !important;
    pointer-events: auto !important;
}

.CTFsourceSelector .CTFsourceItem {
    position: static !important;
    display: list-item !important;
    color: #ADADAD !important;
    cursor: pointer !important;
    list-style: none !important;
    margin: 5px !important;
    opacity: 1 !important;
}

.CTFsourceSelector .CTFsourceItem:hover,
.CTFsourceSelector .CTFcurrentSource {
    color: white !important;  
}

.CTFsourceSelector .CTFsourceItem:active {
    text-shadow: white 0 0 7px !important;  
}

.CTFmediaPlayer .CTFcurrentSource:active {
    text-shadow: none !important;  
}

.CTFmediaPlayer .CTFcurrentSource {
    cursor: default !important;
}

.CTFsourceSelector .CTFsourceLink {
    position: static !important;
    display: inline !important;
    color: inherit !important;
    cursor: inherit !important;
    opacity: 1 !important;
    text-shadow: inherit !important;
}

/* Should use CSS3 ::marker here */
.CTFsourceSelector .CTFsourceItem::before {
    content: none !important;
}

.CTFmediaPlayer .CTFcurrentSource::before {
    display: inline-block !important;
    color: inherit !important;
    content: "\2022" !important;
    margin-left: -7px !important;
    opacity: 1 !important;
    width: 7px !important;
}

/*************************
Invisible QuickTime object
*************************/

.CTFplaceholder .CTFQTObject,
.CTFmediaPlayer .CTFQTObject {
    position: absolute !important;
    height: 0px !important;
    width: 0px !important;
}

/**************
Generic classes
**************/

.CTFnodisplay, .CTFplaceholder .CTFnodisplay, .CTFmediaPlayer .CTFnodisplay {
    display: none !important;
}

.CTFhidden, .CTFplaceholder .CTFhidden, .CTFmediaPlayer .CTFhidden {
    visibility: hidden !important;
}


